@import "tailwindcss";

@theme {
    --color-primary: #18967b;
    --color-error: #f20f16;
}

@layer base {
    html {
        font-family:'Segoe UI', Tahoma;
    }

    body {
        background-color: #fdfdfd;
        overflow-x: hidden;
    }
}

@layer components {
    .border-soft {
        @apply border-2 border-gray-300;
    }

    .input-box {
        @apply w-full text-sm bg-transparent border-2 border-gray-300 px-5 py-3 rounded mb-4 outline-none;
    }

    .btn-primary {
        @apply w-full text-sm bg-primary text-white p-2 rounded my-1 border border-primary hover:bg-primary/10 hover:text-primary transition-all;
    }

    .btn-close {
        @apply w-full text-sm bg-error text-white p-2 rounded my-1 border border-error hover:bg-error/10 hover:text-error transition-all;
    }

    .icon-btn {
        @apply text-sm text-slate-300 cursor-pointer hover:text-primary;
    }

    .input-label {
        @apply text-sm text-slate-300;
    }
}